{
  "presets": [
    "env"
  ],
  "plugins": [
    [
      "transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    "transform-function-bind",
    "transform-class-properties"
  ]
}
